Source: docker-plugin-cinder
Section: devel
Priority: optional
Maintainer: Jan Graichen <jgraichen@altimos.de>
Build-Depends:
  ca-certificates,
  debhelper (>= 12.9),
  dh-golang (>= 1.34),
  git,
  golang-any (>= 1.11)
XS-Go-Import-Path: github.com/jgraichen/docker-plugin-cinder

Package: docker-plugin-cinder
Architecture: any
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  docker.io | docker-ce
Description: Docker Volume Plugin for OpenStack Cinder
