#!/usr/bin/make -f

# export DH_VERBOSE=1
# export DH_OPTIONS=-v

export GOPROXY=direct
export GO111MODULE=auto


%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang --with=systemd


override_dh_clean:
	dh_clean
	rm -rf _build


override_dh_auto_install:
	dh_auto_install -- --no-source


override_dh_installsystemd:
	dh_installsystemd docker-plugin-cinder.socket


override_dh_installinit:
	# Do nothing.
